{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'client_child_list' %}">Child Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>dob</td><td>{{ object.dob }}</td></tr>
<tr><td>live_in</td><td>{{ object.live_in }}</td></tr>
<tr><td>address</td><td>{{ object.address }}</td></tr>
<tr><td>notes</td><td>{{ object.notes }}</td></tr>
<tr><td>custody</td><td>{{ object.custody }}</td></tr>
<tr><td>adopted</td><td>{{ object.adopted }}</td></tr>
<tr><td>legitimate</td><td>{{ object.legitimate }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Child</a>

{% endblock %}